@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0%;
}

:root {
    --font01: "Sriracha";
    --font02: "Passion One"
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

header > h1 {
    font-family: var(--font02);
    font-weight: 700;
    font-style: normal;
    font-size: 40px;

}

a {
    color: rgb(206, 205, 205);
    text-decoration: none;
}

.estrofe {
    font-family: var(--font01);
    font-size: 20px;
    width: auto;
    text-align: left;
    line-height: 40px;
    padding: 40px 0px 60px 15px
}

div {
    background-color: rgba(85, 85, 85, 0.774);
    width: 300px;
}

#img1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 10px black;
    color: white;
    font-family: var(--font01);
    font-size: 20px;
    width: auto;
    text-align: left;
    line-height: 40px;
    padding: 40px 0px 60px 15px
}